
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */

html{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* TEST */
    background-color: lightgray
}

/* COMMON */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.section-container{
    width: 70%;
    margin: 7em auto;
    /* TEST */
    background-color: aqua;
    height: 1200px;
}

/* HEADER */

.header-container{
    width: 100%;
    height: 80px;
    /* TEST */
    background-color: white;
}

.header-section{
    line-height: 80px;
    text-align: center;
    display: inline-block;
}

/* header left section */
.header-container .header-left{
    float: left;
    width: calc(100% / 3);
    /* TETS */
    background-color: antiquewhite;
    height: 80px;

}

/* header right section */
.header-container .header-right{
    float: right;
    width: calc(100% / 3);
    /* TEST */
    background-color: aquamarine;
    height: 80px;
}

/* MAIN */

/* JUMBOTRON */

/* jumbotron title */
main .title{
    width: 100%;
    background-color: #B4D0E7;
    /* TEST */
    height: 250px;
}

/* jumbotron container */
.jumbotron-info{
    width: 100%;
    /* TEST */
    height: 150px;
    background-color: aliceblue;
}

/* jumbotron col left */
.jumbo-left-col{
    float: left;
    width: 40%;
    /* TEST */
    background-color: darkolivegreen;
    height: 100%;
}

/* jumbotron col right */
.jumbo-right-col{
    float: left;
    width: 60%;
    /* TEST */
    background-color: dimgray;
    height: 100%;
}

/* CHOOSE SUBSCRIPTION SECTION */

/* title */
.business-title{
    width: 100%;
    /* TEST */
    background-color: azure;
    height: 150px;
}

/* choose plan container */
.plan-container{
    width: 85%;
    margin: 0 auto;
    /* TEST */
    background-color: bisque;
    height: 800px;
}

/* column common */
.plan-option{
    width: calc(100% / 3 - 30px);
    border: 1px solid gray;
    /* TEST */
    height: 800px;
}

.top-symbol{
    width: 100%;
    border-bottom: 1px solid gray;
    /* TEST */
    height: 3em;

}

/* column */
.col-1{
    float: left;

}

.col-2{
    float: left;
    margin: 0 45px;
}

.col-3{
    float: left;
}

.enterprise-plan{
    border: 1px solid gray;
    margin: 50px 0 50px;
    width: 100%;
    /* TEST */
    height: 170px;
    background-color: bisque;


}



