
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* FONTS */

html{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.section-container{
    width: 70%;
    margin: 7em auto;
}

.section2-container{
    width: 85%;
    margin: 0 auto;
}

.jumbo-container{
    width: 100%;
    background-color: #B4D0E7;
    margin: 0 auto;
    padding-top: 80px;
}

.button-blue{
    padding: .2em 1em;
    background-color: #0061FF;
    color: white;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.button-blue:hover{
    background-color:#0062ff85 ;
}

/* HEADER */
/* header common */

.header-container{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.nav-menu{
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5vw;
}

.header-container .nav-menu li{
    display: inline-block;
    list-style: none;
    margin: 0 .5vw;
}

/* menu li hover properties */
.nav-menu li:hover{
    margin-bottom: -3px;
    border-bottom: 3px solid green;
    position: relative;
}

.header-container .nav-menu a{
    color: black;
    font-weight: 500;
}

/* header left section */
.left-section{
    float: left;
    padding-left: 2%;
    line-height: 80px;
}

.header-left img{
    vertical-align: middle;
}

/* header right section */
.right-section{
    float: right;
    padding-right: 2%;
    line-height: 80px;
}

.btn-header{
    display: inline;
}

/* MAIN */

/* JUMBOTRON */

/* jumbotron title */
main .title{
    width: 100%;
    background-color: #B4D0E7;
    font-size: 2.5em;
    padding: 1em 0 1em;
}

/* jumbotron container */
.jumbo-container-margin{
    width: 80%;
    margin-left: calc(20% / 2);
}

.jumbotron-info{
    width: 100%;
    background-color: #B4D0E7;
}

/* jumbotron col left */
.jumbo-left-col{
    float: left;
    width: 40%;
}

.trial-btn{
    margin: 2em 0;
}

.cancel-btn>a{
    color: black;
}

.arrow-link{
    margin-top: 1em;
    font-size: 3em;
}

.arrow-link>a{
    color: black;
}

/* jumbotron col right */
.jumbo-right-col{
    float: left;
    width: 60%;
}

.jumbo-right-col>img{
    margin-bottom: -5em;
}

/* CHOOSE SUBSCRIPTION SECTION */

/* title & radio*/
.dropbox-plan-title{
    padding-top: 80px;
    line-height:2em ;
    width: 100%;
    font-size: 1.5em;
}

.selection-choice{
    display: inline-block;
    margin: 3em 2em 2em 0;
}

.radio-box{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid grey;
    vertical-align: middle;
}

.rbox-blue{
    border: 3.5px solid blue;
    margin-right: 0.1em;
}


/* choose plan container */

/* column common */
.col-1,
.col-2,
.col-3{
    float: left;
}

.col-2{
    margin: 0 45px;
}

.top-symbol{
    width: 100%;
    border-bottom: 1px solid gray;
    text-align: center;
    line-height: 3em;
}
.plan-option{
    width: calc(100% / 3 - 30px);
    border: 1px solid gray;
    max-height: 100%;
    min-height: 1000px;
}

.column-txt{
    padding: 0 1.5em;
}

.big-margin{
    margin-top: 2em;
}

.medium-margin{
margin-top: 1.5em;
}

.small-margin{
    margin-top: .3em;
}

.txt-strong{
    font-weight: 650;
}

.txt-gray{
    color: gray;
    font-size: .8em;
}

.txt-aside-layout{
    position: relative;
    left:1.3em;
    bottom:1.4em
}

.buy-now>a{
    color: #498EFF;
    text-decoration: underline;
}

.buy-now>span{
    padding-bottom: 2em;
    border-bottom: 1px solid gray;
    width: 3em;
}

.plan-advantages{
    margin-top: 5em;
}

.plan-advantages ul li:first-child{
    margin-top: 1em;
}
.plan-advantages ul li{
    list-style:none;
    font-size: .9em;
    font-weight: 500;
}

.li-check{
    color: #498EFF;
    font-weight: 400;
}

.plan-advantages ul li>span{
    display: block;
}

.txt-aside-layout2{
    position: relative;
    left: 1em;
    bottom: 1.3em;
}

/* bottom column */
.column-txt2{
    padding: 0 1.5em;
    margin-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.txt-strong2{
font-weight: 650;
font-size: .9em;
}

.enterprise-plan{
    border: 1px solid gray;
    margin: 50px 0 50px;
    width: 100%;
}

.btn-contact-seller{
    position: absolute;
    top: 0;
    right: 2em;
}

/* SECTION CONTACT & ADVANTAGES DROPBOX BUSINESS  */

/* partner Dropbox */
.partner-dropbox{
    float: left;
}

.partner-dropbox.col-left{
    width: 60%;
    height: 100%;
}

.partner-dropbox.col-right{
    width: 40%;
}

.partner-dropbox.col-right{
    padding: 2em 3em;
    font-weight: 550;
}

.partner-dropbox.col-right>div{
    margin: 0 0 3em;
}

.button-white{
    padding: .4em 1.2em;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid black;
    color: black;
}

/* Dropbox Business title */
.business-title{
    width: 100%;
    font-size: 1.5em;
    padding: 3em 0 2em;
}

/* advantages business sectios */
.advantage{
    width: calc(100% / 3);
    float: left;
    padding-left: 3em;
    padding-bottom: 3em;
}

/* col common */
.adv-col-title{
    padding: 1em 0 1em;
    font-size: 1.5em;
}

.adv-col-txt{
font-weight: 550;
}

.adv-col-txt a{
    color: black;
    text-decoration: underline;
    }

/* ADVERTISING, AFFILIATION & CTA */

/* advertising */
.advertising{
    width: 100%;
}

.advertising-title{
    font-size: 2.5em;
    margin-bottom: 1em;  
}

.advertising .section-container a{
    font-weight: 650;
    color: #498EFF;
    text-decoration: underline;
}

/* affilliations */
.affiliations-content{
    width: 90%;
    margin: 0 auto;
}

/* affiliations common */
.square{
    width: 30vw;
    height: 30vw;
}

.square-small{
    width: 15vw;
    height: 15vw;
    float: left;
    position: relative;
}

.square-small img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5vw;
    filter: invert(100%);
}

/* big left square */
.left-sq{
    float: left;
}

/* small left square */
.sq-1{
    background-color: #A2D39B;
    border: 10px solid rgba(255, 255, 255, 0.267);
}

.sq-2{
    background-color: #61082B;
}

.sq-3{
    background-color: #0093CE;
}

.sq-4{
    background-color: #FF1C1C;
}

/* big right square */
.right-sq{
  float: right;
}

/* small right square */
.sq-5{
    background-color: #D5001F;
}

.sq-6{
    background-color: #B4D0E7;
}

.sq-7{
    background-color: #0D2481;
}

.sq-8{
    background-color: #FFD830;
}

.sq-8 img{
    padding: 0vw; 
}

/* center affiliations text */
.affiliations-block{
    width: calc(100% - 60vw);
    float: left;
    padding: 2em;
    height: 30vw;
    overflow: auto;
    background-color: #F5F5F5;
}

.affiliation-txt{
    box-sizing: content-box;
    padding-top: 4vw;
    font-weight: 550;
}

.affiliation-logo{
    width: 25%;
    height: auto;
    padding-bottom: 1.5vw;
}

.logo-rule{
    width: 3.5em;
    padding-bottom: 3vw;
}

.affiliation-content{
    padding-bottom: 3vw;
}

/* cta */
.cta{
    background-color: #B4D0E7;
    padding-right: 2em;
    padding-top: 8em;
    padding-bottom: 8em;
    width: 90%;
    margin: 0 auto;
}

/* text-cta */
.cta-txt-box{
    float: left;
    width: 60%;
    /* padding-right: 10em; */
    font-size: 2em;
    color: #630C2F;
    padding-left: 7.7em;
}

.cta-button-box{
    float: left;
    width: 40%;
    margin-top: 1.5em;
    padding-left: 10em;
}

/* button cta */
.button-cta{
    padding: .4em 1.2em;
    text-align: center;
    background-color: white;
    color: black;
}

/* F.A.Q. & FOOTER */

/* faq */
.faq{
    width: 70%;
    margin: 0 auto;
    padding: 5em;
}

.faq .faq-title>h3{
    font-size: 1.5em;
    margin-bottom: 2em;
}

.faq .faq-items{
    position: relative;
    padding: 2em 0;
    border-top: 1px solid lightgray;
}

.drop-d-icon i{
    position: absolute;
    right: 2em;
    top: 2.2em;
}

.last-faq{
    border-bottom: 1px solid lightgray;
}



/* footer */
.footer{
    position: relative;
    width: 100%;
    background-color: black;
    padding-left: 5vw;
    padding-right: 8vw;

}

.ft-column{
    float: left;
    width: calc(100% / 5 );
    padding: 3em;
    color: white;
    min-height: 100%;
    margin-bottom: 10em;
}

.ft-column h4{
    margin-bottom: 1.5em;
    font-size: 1.5em;
}

.ft-column ul{
    line-height: 2.5em;
    list-style: none;
}

.ft-column ul li a{
    color: white;
}

.language-selector i,
.language-selector span,
.language-selector span a{
    color: gray;
}

.language-selector{
    border-top: 1px solid white;
    width: 8em;
}

.language-selector>i{
    padding-top: 3em;
}

.language-selector{
    position: absolute;
    bottom: 0;
    left: 7.7vw;
    color: white;
    margin-bottom: 4em;
    padding-top: 1em;
}



