
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* FONTS */

html{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* TEST */
    background-color: lightgray
}

/* COMMON */

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.section-container{
    width: 70%;
    margin: 7em auto;
    /* TEST */
    background-color: aqua;
    height: 1500px;
}

.section2-container{
    width: 85%;
    margin: 0 auto;
    /* TEST */
    background-color: red;
    /* height: 800px; */
}

.jumbo-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}

.button-blue{
    padding: .2em 1em;
    background-color: #0061FF;
    color: white;
}

/* HEADER */
/* header common */

.header-container{
    width: 100%;
    height: 80px;
    /* TEST */
    background-color: white;
    position: fixed;
}

.nav-menu{
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5em;
}

.header-container .nav-menu li{
    display: inline-block;
    list-style: none;
    margin: 0 .5em;
}

.header-container .nav-menu a{
    color: black;
    font-weight: 500;
}

/* header left section */
.left-section{
    float: left;
    padding-left: 2%;
    line-height: 80px;
}

.header-left img{
    vertical-align: middle;
}


/* header right section */
.right-section{
    float: right;
    padding-right: 2%;
    line-height: 80px;
}


/* MAIN */

/* JUMBOTRON */

/* jumbotron title */
main .title{
    width: 100%;
    background-color: #B4D0E7;
    font-size: 2.5em;
    padding: 1em 0 1em;
}

/* jumbotron container */
.jumbotron-info{
    width: 100%;
    /* TEST */
    /* height: 150px; */
    background-color: #B4D0E7;
}

/* jumbotron col left */
.jumbo-left-col{
    float: left;
    width: 40%;
}

.trial-btn{
    display: inline-block;
    margin: 2em 0;
}

.cancel-btn>a{
    color: black;
}

.arrow-link{
    margin-top: 1em;
    font-size: 2.5em;
}

.arrow-link>a{
    color: black;
}

/* jumbotron col right */
.jumbo-right-col{
    float: left;
    width: 60%;
}

.jumbo-right-col>img{
    margin-bottom: -5em;
}



/* CHOOSE SUBSCRIPTION SECTION */

/* title & radio*/
.dropbox-plan-title{
    line-height:2em ;
    width: 100%;
    font-size: 1.5em;
    /* TEST */
    background-color: azure;
}

.selection-choice{
    display: inline-block;
    margin: 3em 2em 3em 0;
}

.radio-box{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid grey;
    vertical-align: middle;
}

.rbox-blue{
    border: 3.5px solid blue;
    margin-right: 0.1em;
}


/* choose plan container */

/* column common */
.plan-option{
    width: calc(100% / 3 - 30px);
    border: 1px solid gray;
    /* TEST */
    height: 800px;
}

.top-symbol{
    width: 100%;
    border-bottom: 1px solid gray;
    /* TEST */
    height: 3em;

}

/* column */
.col-1{
    float: left;

}

.col-2{
    float: left;
    margin: 0 45px;
}

.col-3{
    float: left;
}

.enterprise-plan{
    border: 1px solid gray;
    margin: 50px 0 50px;
    width: 100%;
    /* TEST */
    height: 170px;
    background-color: bisque;
}

/* SECTION CONTACT & ADVANTAGES DROPBOX BUSINESS  */

/* partner Dropbox */
.partner-dropbox{
    width: 50%;
    float: left;
    /* TEST */
    height: 500px;
}

.partner-dropbox.col-left{
    /* TEST */
    background-color: coral;
}

.partner-dropbox.col-right{
    /* TEST */
    background-color: darkgoldenrod;
}

/* Dropbox Business title */
.business-title{
    width: 100%;
    /* TEST */
    background-color: cornsilk;
    height: 200px;
}

/* advantages business sectios */
.advantage{
    width: calc(100% / 3);
    float: left;
    /* TEST */
    height: 400PX;
}

/* adv col 1 */
.adv-col-1{
    background-color: rgb(38, 50, 59);
}

/* adv col 2 */
.adv-col-2{
    background-color: rgb(98, 34, 100);
}

/* adv col 3 */
.adv-col-3{
    background-color: rgb(100, 129, 83);
}

/* adv col 4 */
.adv-col-4{
    background-color: rgb(197, 186, 34);
}

/* adv col 5 */
.adv-col-5{
    background-color: rgb(168, 83, 83);
}

/* adv col 6 */
.adv-col-6{
    background-color: rgb(18, 229, 236);
}

/* ADVERTISING, AFFILIATION & CTA */

/* advertising */
.advertising{
    width: 100%;
    /* TEST */
    height: 120px;
    background-color: brown;
}

/* affilliations */
.affiliations-content{
    width: 100%;
    height: 1000px;
    background-color: aqua;
}

/* affiliations common */
.square{
    width: 25%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-small{
    width:calc(100% / 2)
}

.square-small:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}



/* big left square */
.left-sq{
    background-color: blueviolet;
    float: left;
}

/* center affiliations text */
.affiliations-txt{
    float: left;
    width: 50%;
    background-color: red;
}



/* big right square */
.right-sq{
  background-color: bisque;
  float: right;

}

/* small square */
/* small square left */
.square-small{
    float: left;
}

.sq-1{
    /* TEST */
    background-color: aquamarine;
}

.sq-2{
    /* TEST */
    background-color: rgb(54, 71, 66);
}

.sq-3{
    /* TEST */
    background-color: rgb(66, 21, 87);
}

.sq-4{
    /* TEST */
    background-color: rgb(164, 189, 55);
}

/* small square right */
.sq-5{
    /* TEST */
    background-color: rgb(118, 55, 143);
}

.sq-6{
    /* TEST */
    background-color: rgb(87, 92, 90);
}

.sq-7{
    /* TEST */
    background-color: rgb(176, 116, 204);
}

.sq-8{
    /* TEST */
    background-color: rgb(60, 65, 38);
}

/* cta */
.cta{
    width: 100%;
    /* TEST */
    
}

/* text-cta */
.cta-text{
    float: left;
    width: 60%;
    /* TEST */
    background-color: blue;
    height: 400px;
}

/* button cta */
.button-cta{
    float: right;
    width: 40%;
    /* TEST */
    background-color: burlywood;
    height: 400px;
}

/* F.A.Q. & FOOTER */

/* faq */
.faq{
    width: 100%;
    /* TEST */
    height: 600px;
    background-color: cadetblue;
}

/* footer */
.footer{
    width: 100%;
    /* TEST */
    height: 300px;
    background-color: cyan;
}